/* coloristic variables */
$white: #ffffff;
$black: #000000;
$body: #f7f7f7;
$titles: #737373;
$paragraphs: #929292;
$light-blue: #99d6de;
$main: #43be9f;
$main-accent: #33ad8e;
// $flat-blue: #3bb4c5;
//$dark-blue: #357e8f;
$heavy-blue: #2f4858;
$light-green: #435b61;
$flat-green: #2b3d41;
$light-cherry: #61294e;
$flat-cherry: #6b4153;
$dark-cherry: #6d465f;
$flat-pink: #aa4465;
$dark-violet: #180d37;
$light-orange: #e57a44;
