<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xxl-3 copyright">
            <p class="p-0 m-0 copyrights">&copy; 2022 - <span id="year" class="mx-1"></span>| Światmieszkan.com</p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xxl-6 ms-auto footer-list">
            <ul class="d-flex p-0 m-0 ms-auto">
                <li class="footer-link me-auto"><a href="#">Reklama</a></li>
                <li class="footer-link me-auto"><a href="#">O Nas</a></li>
                <li class="footer-link me-auto"><a href="#">Prywatnoci</a></li>
                <li class="footer-link me-auto"><a href="#">Regulamin</a></li>
                <li class="footer-link me-auto"><a href="#">Referencje</a></li>
                <li class="footer-link me-auto"><a href="#">Pomoc</a></li>
                <li class="footer-link"><a href="#">Kontakt</a></li>
            </ul>
        </div>
    </div>
</div>