[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin = "*"
dj-database-url = "*"
boto3 = "*"
django-allauth = "*"
django-crispy-forms = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
