html,
body {
    height: 100%;
    width: 100%;
    min-width: 320px !important;
    background-color: $light-white;
    color: $light-grey;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

h5 {
    font-size: 0.85rem;
    font-weight: 400;
    color: $black;
}

li {
    transition: background-color 0.3s ease;
}

main > .container {
    padding: 60px 15px 0;
}

.hr-line {
    margin: 0 auto 8px auto;
}
