html {
    height: 100%;
    width: 100%;
    background-color: $light-white;
    color: $light-grey;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: $light-white;
}

li {
    transition: background-color 0.3s ease;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: $black;
}

main > .container {
    padding: 60px 15px 0;
}

.hr-line {
    margin: 2px auto 2px auto;
    width: 80%;
}
