<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
    <a class="navbar-brand p-0" href="{% url 'home' %}">
        <img src="{{MEDIA_URL}}logo/swiatmieszkan.png" alt="arctic-school-logo" width="120" height="41">
    </a>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link mr-2 special-nav-lnik {% if request.get_full_path == '/booking/' %}nav-link-active-red{% else %}hvr-bounce-to-top-red{% endif %}"
                href="">BOOKING
                {% if booked_lessons %}
                <span class="rounded-circle booking-count">
                    {{ lessons_count }}
                </span>
                {% endif %}
            </a>
        </li>
    </ul>
    <button id="hamburger-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileMenu"
        aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="collapse navbar-collapse" id="mobileMenu">
        <ul class="nav navbar-nav mt-3 ml-auto text-right">
            <li class="nav-item">
                <a class="nav-link mr-3 {% if request.get_full_path == '/lessons/' %}nav-link-active{% else %}hvr-bounce-to-top{% endif %}"
                    href="">LESSONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 {% if request.get_full_path == '/teams/' %}nav-link-active{% else %}hvr-bounce-to-top{% endif %}"
                    href="">TEAM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 {% if request.get_full_path == '/resorts/' %}nav-link-active{% else %}hvr-bounce-to-top{% endif %}"
                    href="">RESORTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 {% if request.get_full_path == '/contact/' %}nav-link-active{% else %}hvr-bounce-to-top{% endif %}"
                    href="">CONTACT</a>
            </li>
            <!-- Include User Mobile Menu -->
            {% include 'layout/nav/nav-mob-user.html' %}
        </ul>
    </div>
</nav>