<!-- When user is logged in -->
{% if request.user.is_authenticated %}
<li class="nav-item">
    <button class="user-menu-link mr-3 my-2 chevron-rotate" type="button" data-toggle="collapse"
        data-target="#mobileUserMenu" aria-controls="mobileUserMenu" aria-expanded="false"
        aria-label="Toggle navigation"><i class="fas fa-chevron-down mr-2"></i>ACCOUNT</button>
    <div class="collapse navbar-collapse" id="mobileUserMenu">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a href="" class="nav-link nav-link-mobile mr-3 hvr-bounce-to-top">My
                    Information</a>
            </li>
        </ul>
        <div class="grey-links">
            <button class="nav-link mr-3 user-nav-link chevron-rotate" data-toggle="collapse"
                data-target="#UserMenuBooking" aria-controls="UserMenuManagemenet" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fas fa-chevron-down mr-2"></i>MY BOOKING
            </button>
            <div class="grey-links">
                <ul class="collapse navbar-collapse" id="UserMenuBooking">
                    <li class="nav-item">
                        <a href="" class="nav-link nav-link-mobile mr-3 hvr-bounce-to-top">Active</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link nav-link-mobile mr-3 hvr-bounce-to-top">Archived</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- If user has super powers - administrator -->
        {% if request.user.is_superuser %}
        <div class="grey-links">
            <button class="nav-link mr-3 user-nav-link chevron-rotate" data-toggle="collapse"
                data-target="#UserMenuManagemenet" aria-controls="UserMenuManagemenet" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fas fa-chevron-down mr-2"></i>MANAGEMENT
            </button>
            <ul class="collapse navbar-collapse" id="UserMenuManagemenet">
                <li class="nav-item">
                    <a href="" class="nav-link nav-link-mobile mr-3 hvr-bounce-to-top">Categories</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link nav-link-mobile mr-3 hvr-bounce-to-top">Lessons</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link nav-link-mobile mr-3 hvr-bounce-to-top">Instructors</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link nav-link-mobile mr-3 hvr-bounce-to-top">Resorts</a>
                </li>
            </ul>
            <button class="nav-link mr-3 user-nav-link chevron-rotate" data-toggle="collapse"
                data-target="#UserMenuHomePage" aria-controls="UserMenuHomePage" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fas fa-chevron-down mr-2"></i>HOME PAGE
            </button>
            <ul class="collapse navbar-collapse" id="UserMenuHomePage">
                <li class="nav-item">
                    <a href="" class="nav-link nav-link-mobile mr-3 hvr-bounce-to-top">Lessons
                        Cards</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link nav-link-mobile mr-3 hvr-bounce-to-top">Level
                        Cards</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link nav-link-mobile mr-3 hvr-bounce-to-top">Social
                        Media</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</li>
<!-- Logout button -->
<li class="nav-item">
    <div class="nav-link mr-3 hvr-bounce-to-top">
        <form method="post" action="">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit">LOGOUT</button>
        </form>
    </div>
</li>
<!-- When user is not logged in -->
{% else %}
<li class="nav-item">
    <a href="" class="nav-link mr-3 hvr-bounce-to-top">LOGIN</a>
</li>
<li class="nav-item">
    <a href="" class="nav-link special-nav-lnik mr-3 hvr-bounce-to-top-red">REGISTER</a>
</li>
{% endif %}