<nav class="navbar text-end py-0">
    <a class="navbar-brand p-0" href="{% url 'home' %}">
        <img src="{{MEDIA_URL}}logo/swiatmieszkan.png" alt="" class="logo">
    </a>
    <ul class="nav navbar-nav flex-row">
        <li class="nav-item add-new-listing my-auto me-4">
            <a class="nav-link mx-3" href="#">
                <img src="{{MEDIA_URL}}icons/plus.png" alt="add-new-listing-icon" class="icon-plus">
                </i>Dodaj Mieszkanie</a>
        </li>
        <li class="nav-item me-4">
            <a class="nav-link" href="#">Zaloguj<i class="far fa-user ms-2"></i>
            </a>
        </li>
        <button id="ham-btn-med" class="navbar-toggler my-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#toggleBar" aria-controls="toggleBar" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </ul>
    <ul class="sub-menu-1" id="toggleBar">
        <h5 class="d-flex text-start mb-3">Informacje</h5>
        <hr class="hr-line">
        <li class="nav-item ms-3"><a class="nav-link" href="#">Wynajmujący</a></li>
        <li class="nav-item ms-3"><a class="nav-link" href="#">Najemca</a></li>
        <li class="nav-item ms-3"><a class="nav-link" href="#">O Platformie</a></li>
    </ul>
</nav>