<nav class="navbar fixed-top justify-content-end px-3">
    <a class="navbar-brand me-auto" href="{% url 'home' %}">
        <img src="{{MEDIA_URL}}logo/swiatmieszkan.png" alt="" class="logo">
    </a>
    <ul class="nav navbar-nav flex-row pe-2">
        <button id="btn-ham-mob" class="navbar-toggler">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </ul>
    <ul id="submenu-mob" class="submenu position-absolute expand-menu mb-0">
        <li class="nav-item add-new-listing">
            <a class="nav-link mx-auto" href="#">
                <img src="{{MEDIA_URL}}icons/plus.png" alt="add-new-listing-icon" class="icon-plus">
                </i>Dodaj Mieszkanie</a>
        </li>
        <li class="nav-item nav-link justify-content-end">
            <a class="nav-item" href="#">Zaloguj<i class="far fa-user ms-2"></i>
            </a>
        </li>
        <li class="nav-item nav-link justify-content-end">Informacje<i id="chevron"
                class="far fa-chevron-down ms-2"></i>
        </li>
        <ul id="expand-menu" class="expand">
            <li class="nav-item justify-content-end d-none"><a class="nav-link" href="#">Wynajmujący</a></li>
            <li class="nav-item justify-content-end d-none"><a class="nav-link" href="#">Najemca</a></li>
            <li class="nav-item justify-content-end d-none"><a class="nav-link" href="#">O Platformie</a></li>
        </ul>
    </ul>
</nav>