.nav-link {
    color: $light-grey;
    display: flex;
    align-items: center;

    &:hover {
        color: $flat-blue;
    }
}

.add-new-listing {
    border-radius: 2rem;
    background-color: $dark-blue;

    a {
        color: $white;
    }

    &:hover {
        a {
            color: $white;
        }
        background-color: $flat-blue;
    }
}

/* style code snippet from:
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover
- edited to match whole content style
*/
.button-info {
    min-height: 70px;

    a {
        height: inherit;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        height: 100%;

        &:hover .dropdown-content {
            display: block;
        }

        a {
            height: inherit;
        }
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 214px;
    left: -12px;
    margin-top: -2px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    z-index: 999999999;
    -webkit-box-shadow: 0px 4px 10px -2px #eee;
    -moz-box-shadow: 0px 4px 10px -2px #eee;
    box-shadow: 0px 4px 10px -2px #eee;

    /* Links */
    a {
        text-decoration: none;
        display: block;
        padding: 0.5rem 1.25rem;
        color: $light-grey;

        &:hover {
            color: $flat-blue;
        }
    }

    div > a:last-child {
        padding-bottom: 1.25rem;
    }
}
