.nav-link {
    color: #929292;
    display: flex;
    align-items: center;

    &:hover {
        color: $main;
    }
}

.add-new-listing {
    height: 34px;
    border-radius: 2rem;
    background-color: $main-accent;

    a {
        color: $white;
    }

    &:hover {
        a {
            color: $white;
        }
        background-color: $main;
    }
}

.selected-menu {
    color: $main !important;
}
