.nav-link {
    color: $light-grey;
    display: flex;
    align-items: center;

    &:hover {
        color: $flat-blue;
    }
}

.add-new-listing {
    border-radius: 2rem;
    background-color: $dark-blue;

    a {
        color: $white;
    }

    &:hover {
        a {
            color: $white;
        }
        background-color: $flat-blue;
    }
}
