nav {
    width: 100%;
    background-color: $white;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    border-bottom: 4px solid $flat-blue;
    background-color: $white !important;
    height: 66px;

    .logo {
        height: 40px;
    }

    .nav-link {
        height: 100%;
    }
}

.special-height {
    height: 70px;
}

.info-link {
    position: relative;

    &:focus .sub-menu,
    &t:focus-within .sub-menu,
    &:hover .sub-menu {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transform: translateY(-4px);
    }

    .sub-menu {
        list-style: none;
        visibility: hidden;
        position: absolute;
        width: 214px;
        right: 0;
        opacity: 0;
        text-align: end;
        background-color: $white;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 0 15px 10px 0;
        z-index: -1;
        -webkit-box-shadow: 0px 4px 10px -2px #eee;
        -moz-box-shadow: 0px 4px 10px -2px #eee;
        box-shadow: 0px 4px 10px -2px #eee;
        transform: translateY(-2em);
        -webkit-transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;

        /* Links */
        li {
            a {
                text-decoration: none;
                display: block;
                padding: 8px 14px !important;
                color: $light-grey;

                &:hover {
                    color: $flat-blue;
                }
            }
        }

        div > a:last-child {
            padding-bottom: 1.25rem;
        }
    }
}

.submenu {
    position: relative;
    transform: scaleY(1);
    transform-origin: top;
    list-style: none;
    width: 240px;
    background-color: $white;
    border-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem 1.25rem;
    -webkit-box-shadow: 0px 4px 10px -2px #eee;
    -moz-box-shadow: 0px 4px 10px -2px #eee;
    box-shadow: 0px 4px 10px -2px #eee;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;

    li {
        display: flex;
        padding: 8px 10px 8px 0;

        a {
            text-decoration: none;
            color: $light-grey;

            &:hover {
                color: $flat-blue;
            }
        }
    }

    div > a:last-child {
        padding-bottom: 1.25rem;
    }

    .add-new-listing {
        margin-bottom: 0.5rem;
        a {
            color: $white !important;
        }
    }

    &.expand-menu {
        transform: scaleY(0);
    }
}

#chevron {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;

    &.rotate {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

#expand-menu {
    position: relative;
    margin: 0;
    transform: scaleY(1);
    transform-origin: top;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
    &.expand {
        transform: scaleY(0);
    }
}

#submenu-mob {
    top: 60px !important;
}

/* import navbar links style */
@import "./navbar-links";
